@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind aspect-ratio;
 

@layer base {
  :root {
    --card: 0 0% 99%;
    --ring: 223 8% 45%;
    --input: 223 11% 92%;
    --muted: 216 12.2% 91.96%;
    --accent: 216 12.2% 91.96%;
    --border: 223 11% 92%;
    --popover: 0 0% 99%;
    --primary: 71.95 100% 53.73%;
    --secondary: 0 0% 100%;
    --background: 0 0% 96.08%;
    --foreground: 223 69% 3%;
    --destructive: 13 82% 38%;
    --card-foreground: 223 69% 2%;
    --muted-foreground: 223 3% 36%;
    --accent-foreground: 223 22% 21%;
    --popover-foreground: 223 69% 2%;
    --primary-foreground: 0 0% 7.84%;
    --secondary-foreground: 223 13% 29%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 223 57% 5%;
    --ring: 223 8% 45%;
    --input: 223 11% 14%;
    --muted: 223 30% 10%;
    --accent: 223 14% 19%;
    --border: 223 11% 14%;
    --popover: 223 57% 5%;
    --primary: 74.04 100% 53.92%;
    --secondary: 223 5% 13%;
    --background: 223 57% 4%;
    --foreground: 223 32% 99%;
    --destructive: 13 82% 45%;
    --card-foreground: 0 0% 100%;
    --muted-foreground: 223 3% 64%;
    --accent-foreground: 223 14% 79%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 7.84%;
    --secondary-foreground: 223 5% 73%;
    --destructive-foreground: 0 0% 100%;
  }
}


 @layer base {
  * {
    @apply border-border;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}

/* 
main, nav{
  @apply max-w-6xl mx-auto my-12;
} */

h1{
  @apply scroll-m-20 font-extrabold tracking-tight lg:text-5xl;
}

